name: Go
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          check-latest: true
          cache-dependency-path: backend/go.sum

      - name: Upgrade go.mod to 1.23
        working-directory: backend
        run: |
          go mod edit -go=1.23
          go mod tidy

      - name: Build
        working-directory: backend
        run: go build -v ./...

      - name: Test
        working-directory: backend
        run: go test -v ./...
